@page "/locationSetting"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("Location.Name"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <LocationCardList @bind-Value="locations"></LocationCardList>
</ScrollContainer>

<div class="right-bottom-float-area">
    <MyFloatButton Icon="mdi-plus"
                   OnClick="()=>showAdd=true">
    </MyFloatButton>
</div>

<InputDialog @bind-Visible="showAdd"
             Title="@(I18n.T("Location.Add"))"
             Placeholder="@(I18n.T("Location.Placeholder"))"
             MaxLength="200"
             OnOK="SaveAdd">
</InputDialog>
