@page "/locationSetting"
@namespace SwashbucklerDiary.Rcl.Pages
@inherits ImportantComponentBase

<MyAppBar Title="@(I18n.T("Location"))"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer>
    <LocationCardList @bind-Value="locations"></LocationCardList>
</ScrollContainer>

<div class="right-bottom-float-area">
    <MyFloatButton Icon="add"
                   OnClick="()=>showAdd=true">
    </MyFloatButton>
</div>

<InputDialog @bind-Visible="showAdd"
             Title="@(I18n.T("Add location"))"
             Placeholder="@(I18n.T("Please enter a location name"))"
             MaxLength="200"
             OnOK="SaveAdd">
</InputDialog>
