@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<MHover>
    <MCard @attributes="context.Attrs"
           @oncontextmenu="()=>ShowMenu=true"
           Class="@($"mb-5 my-tag-card {(context.Hover?"elevation-sm-2":"")}")"
           Elevation="0"
           Ripple="false"
           Rounded="@("lg")">
        <MListItem>
            <MListItemIcon>
                <MIcon Class="list-item-icon">
                    mdi-map-marker-outline
                </MIcon>
            </MListItemIcon>
            <MListItemContent>
                <MListItemTitle>
                    @(Value.Name)
                </MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <div @onclick:stopPropagation="true">
                    <MultiMenu @bind-Visible="ShowMenu"
                               DynamicListItems="MenuItems"
                               Context="menuContext">
                        <ActivatorContent>
                            <MButton @attributes="@menuContext.Attrs"
                                     Icon="true">
                                <MIcon>mdi-pencil-outline</MIcon>
                            </MButton>
                        </ActivatorContent>
                    </MultiMenu>
                </div>
            </MListItemAction>
        </MListItem>
    </MCard>
</MHover>
