@namespace NoDecentDiary.Components

<div class="swiper-slide overflow-y-auto" style="@($"max-height:{Height}px;min-height:{Height}px;")">
    <MContainer Style="box-sizing: border-box;">
        @ChildContent
    </MContainer>
</div>