@inherits DialogComponentBase

<MSnackbar Value="Visible"
           ContentClass="pb-0"
           Vertical="true"
           Top="true"
           Right
           Text="true"
           Elevation="2"
           Rounded="@("lg")"
           Timeout="-1">
    <ChildContent>
        <div class="text-subtitle-1 font-weight-bold mb-2">
            🎉@I18n.T("Support it")
        </div>
        <div class="text-subtitle-2">
            @I18n.T("If you think this software is pretty good, you can donate and support it. Your support is the greatest motivation for developers.")
        </div>
    </ChildContent>
    <ActionContent>
        <MSpacer></MSpacer>
        <MButton Text="true"
                 OnClick="HandleOnCancel">
            @(I18n.T("Cancel"))
        </MButton>
        <MButton Text="true"
                 Color="primary"
                 OnClick="ToSupport">
            @(I18n.T("Sponsor"))
        </MButton>
    </ActionContent>
</MSnackbar>
