@page "/tagDetails/{id:guid}"
@inherits DiariesPageComponentBase

<MyAppBar Title="@tagName"
          OnClick="NavigateToBack">
</MyAppBar>

<ScrollContainer Id="@scrollContainerId">
    <DiaryCardList @bind-Value="Diaries"
                   @bind-Tags="Tags" />
</ScrollContainer>

<div class="right-bottom-float-area">
    <BackTopButton Class="mb-2"
                   Selector="@scrollContainerSelector">
    </BackTopButton>
    <MyFloatButton Icon="edit-fill"
                   OnClick="ToWrite">
    </MyFloatButton>
</div>