
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(var(--m-theme-surface));
    overscroll-behavior: none;
    word-break: break-all;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

html::-webkit-scrollbar {
    display: none !important;
}

html {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

@media (hover: none) {
    * {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

@media (hover: hover) {
    ::-webkit-scrollbar {
        width: 11px;
        height: 11px;
    }

    ::-webkit-scrollbar-thumb {
        border-style: dashed;
        border-color: transparent;
        border-width: 3px;
        background-clip: padding-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-clip: initial;
        }
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

.scroll-show {
    -ms-overflow-style: initial !important;
}

    .scroll-show::-webkit-scrollbar {
        display: initial !important;
    }

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
    }

    .scroll-show {
        scrollbar-width: thin !important;
    }
}

.my-tab {
    text-transform: none !important;
}

    .my-tab::before {
        opacity: 0 !important;
    }

@media screen and (max-width:600px) {
    .my-tab {
        min-width: unset !important;
    }
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /*禁止选中内容*/
}

.user-select * {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

@media (hover: none) {
    .d-no-hover-none {
        display: none;
    }
}

@media (hover: hover) {
    .d-hover-none {
        display: none;
    }
}

.diary-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 0px !important;
}

@media screen and (min-width:600px) {
    .diary-card {
        padding: 8px !important;
    }
}

@media screen and (min-width:960px) {
    .diary-card {
        padding-bottom: 16px !important;
    }
}

.diary-card__title {
    font-weight: 700 !important;
    padding-bottom: 8px !important;
}

.card-list__wrap {
    display: flex;
}

.card-list__main {
    flex: 1;
    min-width: 1px;
}

.card-list__assist-info {
    position: sticky;
    top: 0;
    width: 300px;
    margin-left: 16px;
    height: calc(100vh - 64px - 24px);
}

.diary-card-list__icon--hidden .diary-card-icon {
    display: none;
}

.card__menu {
    transition: transform 0.75s;
}

.card-list__menu--active .card-list__selected-menu {
    transform: rotateX(180deg);
}

.diary-card-list__tags--hidden .diary-card__tags {
    display: none;
}

.diary-card-list__location--hidden .diary-card__location {
    display: none;
}

.my-scroll-container {
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative !important;
    height: 100% !important;
    scroll-behavior: smooth;
}

.my-container {
    padding-left: 14px !important;
    padding-right: 14px !important;
    box-sizing: border-box !important;
    position: absolute !important;
}

.p-page-container__item .container.my-container {
    height: initial;
}

@media screen and (min-width:600px) {
    .my-container {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media screen and (max-width:600px) {
    .my-container {
        padding-top: 0px !important;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative !important;
    overflow: auto !important;
}

.right-bottom-float-area {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    right: 1rem;
    width: auto;
}

@media screen and (max-width:600px) {
    .right-bottom-float-area {
        bottom: calc(1rem + 56px) !important;
        margin-bottom: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .right-bottom-float-area {
        margin: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .font-weight-bold--desktop {
        font-weight: 700 !important;
    }
}

.empty-result {
    display: flex !important;
    justify-content: center !important;
    padding-top: 10vh !important;
}

.tag-card, .location-card {
    width: 100%;
}

.image-card, .video-card {
    cursor: pointer;
}

/*消息条提示样式，仿照masa旧版中的Toast*/
.m-snack__wrapper {
    border-radius: 12px !important;
}

    .m-snack__wrapper::before {
        background-color: unset !important;
    }

    .m-snack__wrapper .m-alert__icon {
        align-self: unset !important;
    }

@media screen and (max-width:600px) {
    .m-enqueued-snackbar .m-snack__wrapper {
        width: initial !important;
        min-width: initial;
    }
}

.m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper {
    color: rgba(var(--m-theme-on-surface)) !important;
}

    .m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper .m-snack__action * {
        color: rgba(var(--m-theme-on-surface)) !important;
    }


.setting-title {
    display: none !important;
    font-weight: 700 !important;
    padding-bottom: 20px;
    padding-left: 4px;
}

@media screen and (min-width:600px) {
    .setting-title {
        display: block !important;
    }
}

.flex-none {
    flex: none !important;
}

.m-card .m-list.py-0 {
    overflow: hidden;
}

.m-list--nav .m-list-item, .m-list--nav .m-list-item:before {
    border-radius: 8px;
}

@media screen and (min-width:600px) {
    .m-toolbar__content, .m-toolbar__extension {
        padding: 4px 24px
    }
}

.m-list .m-divider__wrapper:last-child {
    display: none !important;
}

.m-btn--readonly {
    pointer-events: none;
}

.preview-image-dialog__toolbar {
    z-index: 2;
    background-color: transparent !important;
    width: 100%;
}

    .preview-image-dialog__toolbar .m-btn--icon::before {
        background-color: rgba(var(--m-theme-surface)) !important;
        opacity: 0.5 !important;
    }

.preview-image-dialog__image__wraper {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.preview-image-dialog__image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .preview-image-dialog__image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

wc-waterfall > * {
    transition: all .2s;
}

html.m-overlay-scroll-blocked {
    position: initial;
}

.adaptive-card-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
}

@media screen and (min-width: 960px) {
    .adaptive-card-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1264px) {
    .adaptive-card-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.user-avatar {
    object-fit: cover;
}

.mine-user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 600px) {
    .mine-user-info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .m-application .text-caption-xs-only {
        font-size: .8rem !important;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: .0333333333em !important;
        font-family: Roboto,sans-serif !important
    }
}

.m-snack--top {
    padding-top: 1rem !important;
}

.first-line-indent .vditor-reset > p {
    text-indent: 2rem;
}

.first-line-indent.vditor-reset > p {
    text-indent: 2rem;
}

.text-preview {
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    white-space: break-spaces;
    word-break: break-all;
    align-self: stretch;
    flex: 1 1 auto;
    line-height: 1.75rem;
    max-width: 100%;
    min-height: 32px;
    width: 100%;
}

.task-list-line-through .vditor-task:has(> input[type="checkbox"][checked]) {
    text-decoration-line: line-through;
}

.task-list-line-through .vditor-task--done {
    text-decoration-line: line-through;
}

.m-list-item.rounded:before {
    border-radius: 4px;
}

.m-chip-group--icon .m-chip {
    justify-content: center;
    margin: 0px !important;
    border: none !important;
    height: 48px !important;
    width: 48px !important;
    border-radius: 50% !important;
}

.m-chip-group--icon .m-slide-group__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
}

.iframe__deck {
    width: 480px;
    aspect-ratio: 1/2;
    border-radius: 8px;
}

.md-preview__outline {
    height: calc(100vh - 64px);
    display: block;
    position: sticky;
    top: 0px;
}

    .md-preview__outline + * {
        min-width: 0px;
        flex-basis: 0;
        flex-grow: 1;
    }

.diary-info-btn {
    max-width: 100%;
}

    .diary-info-btn .m-btn__content {
        max-width: 100%;
    }

        .diary-info-btn .m-btn__content span {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

.material-symbols-fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols_active .m-icon {
    animation: fill 0.2s ease forwards;
}

@keyframes fill {
    0% {
        font-variation-settings: 'FILL' 0;
        transform: scale(1);
    }

    50% {
        font-variation-settings: 'FILL' 0.5;
        transform: scale(1.1);
    }

    100% {
        font-variation-settings: 'FILL' 1;
        transform: scale(1);
    }
}

.multi-menu-moblie-container {
    padding: 32px 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

    .multi-menu-moblie-container .menu-item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .multi-menu-moblie-container .content-container {
        width: auto;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .multi-menu-moblie-container .title-container {
        text-align: center;
    }

.vditor-outline_hide .vditor-outline {
    display: none !important;
}

.vditor-outline_hide.vditor-outline {
    display: none !important;
}

.fullscreen-height {
    height: 100vh !important;
}

/** {
    overflow-wrap: anywhere;
}*/

.m-card__actions {
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (min-width: 600px) {
    .flex-sm-1 {
        flex: 1;
    }
}

.link-card {
    display: flex;
    max-width: 600px;
    margin: 16px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    background-color: rgba(var(--m-theme-surface-container-low));
    color: rgba(var(--m-theme-on-surface), var(--m-high-emphasis-opacity)) !important;
    word-break: break-all;
}

    .link-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

.link-card__image {
    width: 140px;
    min-width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    padding: 16px;
}

    .link-card__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
        border-radius: 8px;
    }

.link-card:hover .link-card__image img {
    transform: scale(1.05);
}

.link-card__content {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.link-card__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-card__description {
    font-size: 14px;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: var(--m-medium-emphasis-opacity);
}

.link-card__url {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(var(--m-theme-on-surface), 0.5) !important;
}

.link-card__favicon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.two-line {
    white-space: initial;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
