
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f7f8f9;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}


* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*去除滚动条*/
::-webkit-scrollbar {
    display: none;
}

.my-tab {
    text-transform: none !important;
}

    .my-tab::before {
        opacity: 0 !important;
    }

@media screen and (max-width:600px) {
    .my-tab {
        min-width: unset !important;
    }
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /*禁止选中内容*/
}
/*滚动条*/
.scroll-show::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

.scroll-show::-webkit-scrollbar {
    display: initial;
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

.scroll-show::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

.user-select * {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.theme--light.list-item-icon.m-icon {
    color: rgba(0,0,0,.87) !important;
}

.theme--light .my-btn-chip {
    border-color: #BDBDBD !important;
    color: rgba(0,0,0,.87) !important;
}

@media (hover: none) {
    .d-no-hover-none {
        display: none;
    }
}

@media (hover: hover) {
    .d-hover-none {
        display: none;
    }
}

.diary-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 0px 8px !important;
}

@media screen and (min-width:600px) {
    .diary-card {
        padding: 8px !important;
    }
}

@media screen and (min-width:960px) {
    .diary-card {
        padding-bottom: 16px !important;
    }
}

@media screen and (max-width:600px) {
    .diary-card:last-child {
        margin-bottom: 0px !important;
    }
}

.diary-card .theme--light.m-divider {
    border-color: rgba(0,0,0,.04);
}

.diary-card-title {
    font-weight: 700 !important;
    padding-bottom: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-list-wrap {
    display: flex;
}

.card-list-main {
    flex-grow: 1;
    min-width: 0px;
}

.card-list-assist-info {
    position: sticky;
    top: 0;
    height: fit-content;
    min-width: 300px;
    margin-left: 16px;
}

.my-scroll-container {
    overflow-y: auto !important;
    position: relative !important;
    height: 100% !important;
}

.my-container {
    padding-left: 14px !important;
    padding-right: 14px !important;
    box-sizing: border-box !important;
    position: absolute !important;
}

@media screen and (min-width:600px) {
    .my-container {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media screen and (max-width:600px) {
    .my-container {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative !important;
    overflow: auto !important;
}

.theme--light .my-btn-fab {
    background-color: #fff !important;
}

@media screen and (max-width:600px) {
    .my-btn-fab {
        bottom: calc(1rem + 56px) !important;
        margin-bottom: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .my-btn-fab {
        bottom: 1rem !important;
        right: 1rem !important;
        margin: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .font-weight-bold-desktop {
        font-weight: 700 !important;
    }
}

.my-not-have {
    display: flex !important;
    justify-content: center !important;
    padding-top: 10vh !important;
}

.my-tag-card {
    width: 100%;
}

.my-first-launch-card {
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 99;
}

    .my-first-launch-card .theme--light.agreement-confirm-btn {
        background-color: #000 !important;
        color: #fff !important;
    }

    .my-first-launch-card .theme--dark.agreement-confirm-btn {
        background-color: #fff !important;
        color: #000 !important;
    }

.chevron-down {
    transition: transform 0.75s;
}

.chevron-down-rotate-x {
    transform: rotateX(180deg);
}

.setting-state {
    flex: none !important;
}

.my-image-card-list {
    column-count: 2;
    column-gap: 16px;
}

.my-image-card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 16px;
}

@media screen and (min-width:600px) {
    .my-image-card-list {
        column-count: 3;
        column-gap: 24px;
    }

    .my-image-card {
        margin-bottom: 24px;
    }
}

/*消息条提示样式，仿照masa旧版中的Toast*/
.m-snack__wrapper {
    border-radius: 8px !important;
}

    .m-snack__wrapper::before {
        background-color: unset !important;
    }

    .m-snack__wrapper .m-alert__icon {
        align-self: unset !important;
    }

@media screen and (max-width:600px) {
    .m-enqueued-snackbars {
        pointer-events: none;
    }

    .m-snack__wrapper {
        border-radius: 24px !important;
        width: initial !important;
        min-width: initial !important;
    }
}

.m-snack__wrapper.theme--light * {
    color: rgba(0,0,0,.87) !important;
}

.m-snack__wrapper.theme--dark * {
    color: rgba(255,255,255,.87) !important;
}

.setting-title {
    display: none !important;
    font-weight: 700 !important;
    padding-bottom: 20px;
    padding-left: 4px;
}

.setting-card {
    margin-bottom: 20px;
}

@media screen and (min-width:600px) {
    .setting-title {
        display: block !important;
    }

    .setting-info {
        width: 50%;
    }
}

.theme--light.m-application .my-alert-loading {
    color: #000;
}

.theme--dark.m-application .my-alert-loading {
    color: #fff;
}

.theme--light.m-application .primary-background {
    background-color: #f7f8f9 !important;
}

.theme--dark.m-application .primary-background {
    background-color: #121212 !important;
}

.theme--light.m-application .second-background {
    background-color: #fff !important;
}

.theme--dark.m-application .second-background {
    background-color: #1e1e1e !important;
}

.m-list--nav .m-list-item, .m-list--nav .m-list-item:before {
    border-radius: 8px;
}

@media screen and (min-width:600px) {
    .m-toolbar__content, .m-toolbar__extension {
        padding: 4px 24px
    }
}

.my-tabs-chip.m-chip-group .m-slide-group__content {
    padding: 0;
}

.my-tab-chip {
    height: 38px !important;
    background-color: transparent !important;
    margin: 2px !important;
}

    .my-tab-chip .m-chip__content {
        min-width: 64px;
        justify-content: center;
        transition: margin-left ease .2s, margin-right ease .2s;
    }

    .my-tab-chip.m-chip--active .m-chip__content {
        margin-left: 12px;
        margin-right: 12px;
    }

.m-chip m-chip--outlined {
    padding: 0 16px;
}
