
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: var( --m-theme-surface);
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

html::-webkit-scrollbar {
    display: none !important;
}

html {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

@media (hover: none) {
    * {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

@media (hover: hover) {
    ::-webkit-scrollbar {
        width: 11px;
        height: 11px;
    }

    ::-webkit-scrollbar-thumb {
        border-style: dashed;
        border-color: transparent;
        border-width: 3px;
        background-clip: padding-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-clip: initial;
        }
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

.scroll-show {
    -ms-overflow-style: initial !important;
}

    .scroll-show::-webkit-scrollbar {
        display: initial !important;
    }

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
    }

    .scroll-show {
        scrollbar-width: thin !important;
    }
}

.my-tab {
    text-transform: none !important;
}

    .my-tab::before {
        opacity: 0 !important;
    }

@media screen and (max-width:600px) {
    .my-tab {
        min-width: unset !important;
    }
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /*禁止选中内容*/
}

.user-select * {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.theme--light.evident-icon.m-icon {
    color: rgba(0,0,0,.87) !important;
}

@media (hover: none) {
    .d-no-hover-none {
        display: none;
    }
}

@media (hover: hover) {
    .d-hover-none {
        display: none;
    }
}

.diary-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 0px 8px !important;
}

@media screen and (min-width:600px) {
    .diary-card {
        padding: 8px !important;
    }
}

@media screen and (min-width:960px) {
    .diary-card {
        padding-bottom: 16px !important;
    }
}

.diary-card .theme--light.m-divider {
    border-color: rgba(0,0,0,.04);
}

.diary-card-list-item__title {
    font-weight: 700 !important;
    padding-bottom: 8px !important;
}

.card-list-wrap {
    display: flex;
}

.card-list-main {
    flex-grow: 1;
    min-width: 0px;
}

.card-list-assist-info {
    position: sticky;
    top: 0;
    height: fit-content;
    min-width: 300px;
    margin-left: 16px;
}

.card-list-icon__none .diary-card-icon {
    display: none;
}

.card-menu {
    transition: transform 0.75s;
}

.card-list-menu__open .card-list-menu__select {
    transform: rotateX(180deg);
}

.my-scroll-container {
    overflow-y: auto !important;
    position: relative !important;
    height: 100% !important;
    scroll-behavior: smooth;
}

.my-container {
    padding-left: 14px !important;
    padding-right: 14px !important;
    box-sizing: border-box !important;
    position: absolute !important;
}

@media screen and (min-width:600px) {
    .my-container {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media screen and (max-width:600px) {
    .my-container {
        padding-top: 0px !important;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative !important;
    overflow: auto !important;
}

.theme--light .my-btn-fab {
    background-color: #fff !important;
}

@media screen and (max-width:600px) {
    .my-btn-fab {
        bottom: calc(1rem + 56px) !important;
        margin-bottom: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .my-btn-fab {
        bottom: 1rem !important;
        right: 1rem !important;
        margin: 8px !important;
    }
}

@media screen and (min-width:600px) {
    .font-weight-bold-desktop {
        font-weight: 700 !important;
    }
}

.my-not-have {
    display: flex !important;
    justify-content: center !important;
    padding-top: 10vh !important;
}

.tag-card, .location-card {
    width: 100%;
}

.my-first-launch-card {
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.theme--light.black-white-btn {
    background-color: #000 !important;
    color: #fff !important;
}

.theme--dark.black-white-btn {
    background-color: #fff !important;
    color: #000 !important;
}

.setting-state {
    flex: none !important;
}

.image-card {
    cursor: pointer;
}

.video-card {
    cursor: pointer;
}

/*消息条提示样式，仿照masa旧版中的Toast*/
.m-snack__wrapper {
    border-radius: 12px !important;
}

    .m-snack__wrapper::before {
        background-color: unset !important;
    }

    .m-snack__wrapper .m-alert__icon {
        align-self: unset !important;
    }

@media screen and (max-width:600px) {
    .m-enqueued-snackbar .m-snack__wrapper {
        width: initial !important;
        min-width: initial;
    }
}

.m-snack__content {
    font-size: 1rem;
    font-weight: 500;
}

.m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper.theme--light {
    color: rgba(0,0,0,.87) !important;
}

    .m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper.theme--light .m-snack__action * {
        color: rgba(0,0,0,.87) !important;
    }

.m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper.theme--dark {
    color: rgba(255,255,255,.87) !important;
}

    .m-snack.m-snack--text.m-enqueued-snackbar .m-snack__wrapper.theme--dark .m-snack__action * {
        color: rgba(255,255,255,.87) !important;
    }

.setting-title {
    display: none !important;
    font-weight: 700 !important;
    padding-bottom: 20px;
    padding-left: 4px;
}

@media screen and (min-width:600px) {
    .setting-title {
        display: block !important;
    }
}

.list-item-card {
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .list-item-card .m-list {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .list-item-card .m-list-item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

        .list-item-card .m-list-item:first-child::before {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

    .list-item-card .m-list-item:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

        .list-item-card .m-list-item:last-child::before {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

    .list-item-card .dynamic-list-item-collection .m-list-item:nth-last-child(2) {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

        .list-item-card .dynamic-list-item-collection .m-list-item:nth-last-child(2)::before {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
}

.theme--light.m-application .my-alert-loading {
    color: #000;
}

.theme--dark.m-application .my-alert-loading {
    color: #fff;
}

.primary-background {
    background-color: var(--m-theme-surface) !important;
}

.theme--light.m-application .second-background {
    background-color: #fff !important;
}

.theme--dark.m-application .second-background {
    background-color: #1e1e1e !important;
}

.m-list--nav .m-list-item, .m-list--nav .m-list-item:before {
    border-radius: 8px;
}

@media screen and (min-width:600px) {
    .m-toolbar__content, .m-toolbar__extension {
        padding: 4px 24px
    }
}

.dynamic-list-item-collection > .m-divider__wrapper:last-child {
    display: none !important;
}

.theme--light.m-input--switch--inset.white--text .theme--light.m-input--switch__track.white--text {
    color: #000 !important;
    opacity: .8;
}

.m-btn--readonly {
    pointer-events: none;
}

.preview-image-dialog--toolbar {
    z-index: 2;
    background-color: transparent !important;
    width: 100%;
}

    .preview-image-dialog--toolbar .m-btn--icon::before {
        background-color: var(--m-theme-surface) !important;
        opacity: 0.5 !important;
    }

.preview-image-dialog--image__wraper {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.preview-image-dialog--image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .preview-image-dialog--image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

wc-waterfall > * {
    transition: all .2s;
}

html.m-overlay-scroll-blocked {
    position: initial;
}

.adaptive-card {
    /*width: 100%;*/
}

.adaptive-card-container {
    display: grid;
    grid-gap: 20px;
}

.adaptive-card-container {
    grid-template-columns: minmax(0, 1fr);
}

@media screen and (min-width: 960px) {
    .adaptive-card-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1264px) {
    .adaptive-card-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.user-avatar {
    object-fit: cover;
}

.mine-user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 600px) {
    .mine-user-info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .m-application .text-caption-xs-only {
        font-size: .8rem !important;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: .0333333333em !important;
        font-family: Roboto,sans-serif !important
    }
}

.m-snack--top {
    padding-top: 1rem !important;
}

.webdav-list-item__title {
    white-space: initial;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
