@namespace SwashbucklerDiary.Shared

<div class="@(ShowClass)" style="width:100%;max-width:420px;">
    @foreach (var item in I18n.Languages)
    {
        <MButton Class="mb-5"
                 Rounded="true"
                 Block="true"
                 Outlined="true"
                 Large="true"
                 OnClick="()=>HandleClick(item.Value)">
            @(item.Key)
        </MButton>
    }
</div>
