@namespace SwashbucklerDiary.Components

<div @ref="ElementRef" id="@Id" class="swiper" style=@($"{(Show?"":"display:none;")}height:100%;")>
    <div class="swiper-wrapper">
        @ChildContent
    </div>
</div>
