@using BlazorComponent.I18n;

<MTooltip Right>
    <ActivatorContent>
        <MIcon @attributes="@context.Attrs">
            mdi-alert-circle-outline
        </MIcon>
    </ActivatorContent>
    <ChildContent>
        <span>
            @(I18n!.T("Experimental features"))
        </span>
    </ChildContent>
</MTooltip>

@code {

    [Inject]
    protected I18n I18n { get; set; } = default!;
}
