@inherits MyComponentBase
<MCard Elevation="4"
       Rounded="@("lg")"
       Class="@("my-5 " + Class)"
       OnClick="OnClick"
       Ripple="false"
       @oncontextmenu="()=>ShowMenu=true"
       __internal_preventDefault_oncontextmenu>
    <MListItem Dense>
        <MListItemContent>
            <div class="text--secondary text-h6">
                @(Time.ToString("MM/dd"))
            </div>
        </MListItemContent>
        <MListItemAction>
            @if (IsTop)
            {
                <MIcon>
                    mdi-format-vertical-align-top
                </MIcon>
            }
            <div @onclick:stopPropagation="true">
                <MyMenu @bind-Value="ShowMenu" ViewListItems="ViewListItems">
                    <ButtonContent>
                        <MIcon>mdi-dots-horizontal</MIcon>
                    </ButtonContent>
                </MyMenu>
            </div>
        </MListItemAction>
    </MListItem>
    <MDivider Class="mx-4"></MDivider>
    <MListItem ThreeLine>
        <MListItemContent>
            <MListItemTitle>
                <b>@Title</b>
            </MListItemTitle>
            <MListItemSubtitle>
                @Text
            </MListItemSubtitle>
        </MListItemContent>
    </MListItem>
</MCard>
