<div id="@Id" class="overflow-y-auto @(Class)" style="@($"max-height:{Height}px;min-height:{Height}px;")" @oncontextmenu="OnContextmenu">
    <MContainer Class="@(ContentClass)" Style="box-sizing: border-box;">
        @ChildContent
    </MContainer>
</div>
