@namespace SwashbucklerDiary.Rcl.Components

<div @ref="element" class="@($"user-select {Class}")" style="@Style">
</div>

<PreviewImageDialog @bind-Visible="ShowPreviewImage"
                    Src="@PreviewImageSrc">
</PreviewImageDialog>
