@page "/history"
@inherits DiariesPageComponentBase

<MAppBar App
         Elevation="0">
    <MTabs @bind-Value="tab"
           ActiveClass="text-h6 font-weight-bold"
           HideSlider>
        <MTab Class="m-tab-swiper"
              Ripple="false">
            @(I18n.T("History.Calendar"))
        </MTab>
        <MTab Class="m-tab-swiper"
              Ripple="false">
            @(I18n.T("History.Catalogue"))
        </MTab>
    </MTabs>
    <MSpacer></MSpacer>
    <MButton Large Icon OnClick="@(()=>To("/search"))">
        <MIcon>mdi-magnify</MIcon>
    </MButton>
    </MAppBar>

    <SwiperTabItems @bind-Value="tab">
    <SwiperTabItem>
        <MDatePicker @bind-Value="PickedDate"
                     Class="rounded-lg"
                     TValue="DateOnly"
                     ShowCurrent="false"
                     FullWidth="true"
                     NoTitle="true"
                     AllowedDates="AllowedDates"
                     Locale="@(I18n.Culture.Name)">
        </MDatePicker>
        <DiaryCardList Value="CalendarDiaries"
                       @bind-Tags="Tags"
                       OnDeleted="Update">
        </DiaryCardList>
    </SwiperTabItem>

    <SwiperTabItem>
        <div class="d-md-flex tree-wrap">
            @if (Diaries.Any())
            {
                <div>
                    <MTreeview @bind-Active="_active"
                           TItem="Tree"
                           TKey="int"
                           Items="Trees"
                           ItemText="r=>r.Name"
                           ItemChildren="r=>r.Children"
                           ItemKey="r=>r.Id"
                           Activatable="true"
                           OpenOnClick="true"
                           Rounded="true"
                           ExpandIcon="mdi-chevron-down">
                    </MTreeview>
                </div>
            }
            <div class="ml-md-5">
                <DiaryCardList Value="TreeDiaries"
                               @bind-Tags="Tags"
                               Class="flex-md-column"
                               CardClass="tree-card"
                               OnDeleted="Update">
                </DiaryCardList>
            </div>
        </div>
    </SwiperTabItem>
</SwiperTabItems>

