.mine-title {
    display: none !important;
    font-weight: 700 !important;
    padding-bottom:20px;
    padding-left:4px;
}

::deep + .mine-card {
    margin-bottom: 20px;
}

@media screen and (min-width:600px) {
    .mine-title {
        display: block !important;
    }
    ::deep .mine-info{
        width:50%;
    }
}