.setting-title {
    display: none;
    font-weight: 700 !important;
    padding-bottom: 20px;
    padding-left: 4px;
}

::deep + .setting-card {
    margin-bottom: 20px;
}

@media screen and (min-width:960px) {
    .setting-title {
        display: block;
    }

    ::deep .setting-info {
        width: 50%;
    }
}
