@namespace SwashbucklerDiary.Rcl.Components

<div id="@Id" class="swiper-slide">
    <CascadingValue Value="@Id"
                    Name="ScrollElementId"
                    IsFixed="true">
        @if (isActivated)
        {
            @ChildContent
        }
        else if (isRendered)
        {
            <div class="d-flex justify-center align-center" style="width:100%;height:100%;">
                <MProgressCircular Size="40"
                                   Indeterminate="true">
                </MProgressCircular>
            </div>
        }
    </CascadingValue>
</div>