.progress-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transition: all 0.3s;
}

    .progress-dots.shake {
        animation: dotShake 0.4s;
    }

@keyframes dotShake {
    0%, 100% {
        transform: translateX(0);
    }

    20%, 60% {
        transform: translateX(-3px);
    }

    40%, 80% {
        transform: translateX(3px);
    }
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
    margin-bottom: 30px;
}
