@using SwashbucklerDiary.Rcl.Essentials;
@namespace SwashbucklerDiary.Rcl.Components

@if (Show)
{
    <div class="empty-result">
        <div class="text-h6 text--secondary font-weight-bold--desktop">
            @(Text ?? I18n.T("Not Found"))
        </div>
    </div>
}

@code {

    [Inject]
    protected II18nService I18n { get; set; } = default!;

    [CascadingParameter(Name = "Culture")]
    public string? Culture { get; set; }

    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public string? Text { get; set; }
}