@page "/"

<MTabs @bind-Value="tabs">
    <MTab>全部</MTab>
    <MTab>标签</MTab>
</MTabs>
<SwiperTabItems @bind-Value="tabs">
    <SwiperTabItem>
        123
    </SwiperTabItem>
    <SwiperTabItem>
        456
    </SwiperTabItem>
</SwiperTabItems>
<MultiDisplay>
    <MobileContent>
        <MAppBar App
                 Dense
                 Elevation="0"
                 Color="white">
            <MSpacer></MSpacer>

            <MButton Large Icon>
                <MIcon>mdi-magnify</MIcon>
            </MButton>
        </MAppBar>
    </MobileContent>
</MultiDisplay>

<div class="mb-8 px-2">
    <MSubheader Class="px-0">
        @(DateTime.Now.ToString("yyyy/MM/dd") + " " + DateTime.Now.DayOfWeek.ToChinese2())
    </MSubheader>

    <h3>早上好，又是全新的一天</h3>
</div>

<DiaryCardList Value="Diaries">

</DiaryCardList>

<div class="py-10">
</div>

<FabTransition>
    <MButton Color="black"
             Class="mb-15 mb-sm-0"
             Dark
             Bottom
             Right
             Fixed
             Href="/Write"
             Fab>
        <MIcon>
            mdi-pencil
        </MIcon>
    </MButton>
</FabTransition>