.write-overflow {
    overflow: hidden;
}

@media screen and (min-width:600px) {
    
    .write-overflow{
        overflow:inherit;
    }
}

.write-overflow ::deep * {
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
