@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<div class="@WrapClass">
    <MMarkdown @ref="mMarkdown"
               Value="@Value"
               ValueChanged="ValueChanged"
               Class="@InternalClass"
               Options="_options"
               OnAfter="AfterMarkdownRender"
               OnToolbarButtonClick="HandleToolbarButtonClick"
               BeforeAllUpload="HandleBeforeAllUpload">
    </MMarkdown>
    <InputFile @ref="inputFile" style="display:none;" OnChange="LoadFiles"></InputFile>
    <AddTableDialog @bind-Visible="showAddTable"
                    OnOK="InsertValueAsync"
                    OnClose="Focus">
    </AddTableDialog>

    <CustomMNavigationDrawer MyValue="MobileOutline"
                             MyValueChanged="MobileOutlineChanged"
                             Style="z-index:10;"
                             Right="rightOutline != MasaBlazor.RTL"
                             Fixed
                             Temporary
                             Touchless
                             OnAfterShowContent="SetMoblieOutlineAsync">
        <div style="display: flex;flex-direction: column;height:100%;">
            <MyAppBar>
                <MToolbarTitle Class="font-weight-bold flex-grow-1">
                    <wc-auto-scroll-text>@I18n.T("Outline")</wc-auto-scroll-text>
                </MToolbarTitle>
                <MButton Icon="true"
                         OnClick="CloseMobileOutline">
                    <MIcon>close</MIcon>
                </MButton>
            </MyAppBar>
            <ScrollContainer ContentClass="pa-0">
                <div @ref="moblieOutlineElement"
                     class="vditor-outline"
                     style="display: block !important;">
                </div>
            </ScrollContainer>
        </div>
    </CustomMNavigationDrawer>
</div>

@code{
    private string? InternalClass => new CssBuilder()
            .Add("vditor")
            .Add("vditor--dark", ThemeService.RealTheme == Shared.Theme.Dark)
            .Add(Class)
            .Add("first-line-indent", firstLineIndent)
            .Add("task-list-line-through", taskListLineThrough)
            .Add("vditor-outline_hide", !Outline)
            .ToString();
}
