@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<div class="@WrapClass">
    <MMarkdownReplacement @ref="mMarkdownReplacement"
                          Value="@Value"
                          ValueChanged="ValueChanged"
                          Class="@($"{Class} {(firstLineIndent?"first-line-indent":"")}")"
                          Options="_options"
                          OnAfter="AfterMarkdownRender"
                          OnToolbarButtonClick="HandleToolbarButtonClick"
                          OnInputFileChange="LoadFiles">
    </MMarkdownReplacement>
</div>