@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<div class="@WrapClass">
    <MMarkdown @ref="mMarkdown"
               Value="@Value"
               ValueChanged="ValueChanged"
               Class="@InternalClass"
               Options="_options"
               OnAfter="AfterMarkdownRender"
               OnToolbarButtonClick="HandleToolbarButtonClick"
               BeforeAllUpload="HandleBeforeAllUpload">
    </MMarkdown>
    <InputFile @ref="inputFile" style="display:none;" OnChange="LoadFiles"></InputFile>
    <AddTableDialog @bind-Visible="showAddTable"
                    OnOK="InsertValueAsync"
                    OnClose="Focus">
    </AddTableDialog>
</div>
