@namespace SwashbucklerDiary.Rcl.Components

<div @ref="Ref" id="@Id" class="swiper-slide">
    <CascadingValue Value="Ref"
                    Name="ScrollElement"
                    IsFixed="true">
        @if (activated)
        {
            @ChildContent
        }
    </CascadingValue>
</div>