@namespace SwashbucklerDiary.Rcl.Components

<div @ref="ElementRef" class="swiper">
    <div class="swiper-wrapper">
        <CascadingValue Value="this"
                        IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</div>
