@namespace SwashbucklerDiary.Rcl.Components

<div id="@Id" class="swiper-slide">
    <CascadingValue Value="@Id"
                    Name="ScrollElementId"
                    IsFixed="true">
        @if (activated)
        {
            @ChildContent
        }
    </CascadingValue>
</div>