@namespace SwashbucklerDiary.Rcl.Layout

@if (show)
{
    <div class="first-launch-card" style="background-color:@BackgroundColor;">
        <ScrollContainer Class="d-flex align-center"
                         Style="width:100%;"
                         ContentClass="d-flex justify-center">
            <FirstLaunchLanguage Show="showLanguga"
                                 OnClick="SetLanguage">
            </FirstLaunchLanguage>
            <FirstLaunchAgreement Show="!showLanguga && showAgreement"
                                  OnOK="Argee"
                                  OnCancel="Disagree">
            </FirstLaunchAgreement>
        </ScrollContainer>
    </div>
}
