@namespace SwashbucklerDiary.Components
@inherits ImportantComponentBase

<div class="card-list-wrap">
    <div class="card-list-main">
        <CascadingValue Value="this"
                        IsFixed="true">
            <Virtualize Items="Value"
                        ItemSize="150"
                        Context="item">
                <DiaryCard @key="item.Id"
                           Value="item">
                </DiaryCard>
            </Virtualize>
        </CascadingValue>
    </div>
    @if (Value.Any())
    {
        <MultiDisplay Tablet="true">
            <DesktopContent>
                <div class="card-list-assist-info">
                    <DiaryStatisticsCard Diaries="Value"></DiaryStatisticsCard>
                </div>
            </DesktopContent>
        </MultiDisplay>
    }
</div>

<NotFound Show="!Value.Any()"
          Text="@(NotFoundText ?? I18n.T("Diary.NoDiary"))">
</NotFound>

<SelectTags @bind-Value="ShowSelectTag"
            @bind-Values="SelectedTags"
            Tags="Tags"
            TagsChanged="TagsChanged"
            OnSave="SaveSelectTags">
</SelectTags>

<DeleteDialog @bind-Value="ShowDeleteDiary"
              Title="@(I18n.T("Diary.Delete.Title"))"
              Content="@(I18n.T("Diary.Delete.Content"))"
              OnOK="ConfirmDelete">
</DeleteDialog>

<ExportDialog @bind-Value="ShowExport"
              Diaries="ExportDiaries">
</ExportDialog>