@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<MHover>
    <MCard @attributes="context.Attrs"
           Class="@($"my-diary-card elevation-sm-{(context.Hover?"4":"2")} {Class}")"
           OnClick="OnClick"
           Elevation="0"
           Ripple="false"
           Rounded="@("lg")"
           @oncontextmenu="()=>ShowMenu=true"
           __internal_preventDefault_oncontextmenu>
        <MListItem Dense>
            <MListItemContent>
                <div class="text--secondary" style="font-size:1.1rem;">
                    @(Time.ToString("MM/dd"))
                </div>
            </MListItemContent>
            <MListItemAction>
                @if (IsTop)
                {
                    <MIcon>
                        mdi-format-vertical-align-top
                    </MIcon>
                }
                <div @onclick:stopPropagation="true">
                    <MyMenu @bind-Value="ShowMenu" ListItemModels="ListItemModels">
                        <ButtonContent>
                            <MIcon Class="@($"chevron-down {(ShowMenu?"chevron-down-rotate-x":"")}")">
                                mdi-chevron-down
                            </MIcon>
                        </ButtonContent>
                    </MyMenu>
                </div>
            </MListItemAction>
        </MListItem>
        <MDivider Class="mx-3"></MDivider>
        <MListItem ThreeLine>
            <MListItemContent>
                <MListItemTitle Class="my-diary-card-title">
                    @Title
                </MListItemTitle>
                <MListItemSubtitle>
                    @Text
                </MListItemSubtitle>
            </MListItemContent>
        </MListItem>
    </MCard>
</MHover>
