@namespace SwashbucklerDiary.Components
@inherits MyComponentBase

<MHover>
    <MCard @attributes="context.Attrs"
    @oncontextmenu="()=>ShowMenu=true"
           Class="@($"mb-5 my-tag-card {(context.Hover?"elevation-sm-2":"")}")"
           Elevation="0"
           Ripple="false"
           Rounded="@("lg")">
        <MListItem>
            <MListItemIcon>
                <MIcon Class="list-item-icon">
                    mdi-map-marker-outline
                </MIcon>
            </MListItemIcon>
            <MListItemContent>
                <MListItemTitle>
                    @(Value?.Name)
                </MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <div @onclick:stopPropagation="true">
                    <MultiMenu @bind-Value="ShowMenu"
                               ListItemModels="ListItemModels">
                        <ButtonContent>
                            <MIcon>mdi-pencil</MIcon>
                        </ButtonContent>
                    </MultiMenu>
                </div>
            </MListItemAction>
        </MListItem>
    </MCard>
</MHover>
