@namespace SwashbucklerDiary.Components

<div class="@WrapClass">
    <MMarkdown Value="@Value"
               ValueChanged="ValueChanged"
               Class="@Class"
               Style="padding-top:10px"
               Options="_options">
    </MMarkdown>
</div>