@namespace SwashbucklerDiary.Components

<div class="@WrapClass">
    <MMarkdown @ref="MMarkdown"
               Value="@Value"
               ValueChanged="InternalValueChanged"
               Class="@Class"
               Style="padding-top:10px"
               Options="_options"
               OnToolbarButtonClick="HandleToolbarButtonClick">
    </MMarkdown>
</div>