
::deep .vditor-toolbar {
    background-color: transparent;
    padding-left: 0px !important;
}

    ::deep .vditor-toolbar .vditor-toolbar__item {
        padding: 0px 8px !important;
    }

::deep .vditor-reset {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

::deep .vditor-panel--arrow::before {
    filter: drop-shadow(0.1px -0.1px 1px rgba(0, 0, 0, .1));
}

@media screen and (max-width:600px) {
    ::deep .vditor {
        border: none;
    }

    ::deep .vditor-toolbar {
        max-height: 70px;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding-left: 12px !important;
        border: none;
        z-index: 10;
        box-shadow: 0 -3px 5px -3px rgba(0,0,0,.2);
    }

        ::deep .vditor-toolbar .vditor-toolbar__item {
            padding: 0px 8px !important;
        }

    ::deep .vditor-panel--arrow {
        bottom: 35px;
    }

        ::deep .vditor-panel--arrow::before {
            top: unset;
            bottom: -14px;
            transform: rotateX(180deg);
            filter: drop-shadow(0.1px 0.1px 1px rgba(0, 0, 0, .2));
        }
}
