@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<div class="@WrapClass">
    @if (Show)
    {
        <MMarkdown @ref="MMarkdown"
                   Value="@Value"
                   ValueChanged="ValueChanged"
                   Class="@Class"
                   Options="_options"
                   OnToolbarButtonClick="HandleToolbarButtonClick">
        </MMarkdown>
    }
</div>