@namespace SwashbucklerDiary.Rcl.Components
@inherits MyComponentBase

<div class="@WrapClass">
    <MMarkdown @ref="mMarkdown"
               Value="@Value"
               ValueChanged="ValueChanged"
               Class="@Class"
               Options="_options"
               OnAfter="AfterMarkdownRender"
               OnToolbarButtonClick="HandleToolbarButtonClick">
    </MMarkdown>
</div>