@namespace SwashbucklerDiary.Components

<div class="@($"swiper {Id}")" style="@($"{(Show?"":"display:none;")}height:100%;")">
    <div class="swiper-wrapper">
        @ChildContent
    </div>
</div>

<div class="justify-center" style="@($"padding-top:30vh;{(Show?"display:none;":"display:flex;")}")">
    <MProgressCircular Indeterminate Size="48"></MProgressCircular>
</div>

<link href="npm/swiper/7.4.1/swiper-bundle.min.css" rel="stylesheet" />