@namespace SwashbucklerDiary.Components

<div class="swiper-slide d-flex overflow-auto">
    <MContainer Style="position:absolute;width:100%;height:unset;box-sizing:border-box;">
        @ChildContent
    </MContainer>
</div>