@namespace SwashbucklerDiary.Components

<div class="swiper-slide overflow-auto" style="position:relative;">
    <MContainer Style="position:absolute;box-sizing:border-box;">
        @ChildContent
    </MContainer>
</div>