@namespace SwashbucklerDiary.Components

<div class="@("swiper " + Id)">
    <div class="swiper-wrapper">
        @ChildContent
    </div>
</div>

<link href="npm/swiper/7.4.1/swiper-bundle.min.css" rel="stylesheet" />