@media screen and (min-width:600px){
    .font-weight-bold-table {
        font-weight: 700!important;
    }
}

::deep .diary-card {
    width: 100%;
}

@media screen and (min-width:960px) {
    ::deep .diary-card {
        width: 48%;
    }
}