<div class="d-flex justify-space-between flex-wrap">
    @foreach (var item in Value!)
    {
        if (item.Top)
        {
            <DiaryCard Value="item"
               Class="diary-card"
               OnTag="()=>Tag(item.Id)"
               OnCopy="()=>Copy(item)"
               OnDelete="()=>Delete(item)"
               OnTopping="()=>Topping(item)"
               OnClick="()=>HandOnClick(item.Id)">
            </DiaryCard>
        }
    }
    @foreach (var item in Value)
    {
        if (!item.Top)
        {
            <DiaryCard Value="item"
               Class="diary-card"
               OnTag="()=>Tag(item.Id)"
               OnCopy="()=>Copy(item)"
               OnDelete="()=>Delete(item)"
               OnTopping="()=>Topping(item)"
               OnClick="()=>HandOnClick(item.Id)">
            </DiaryCard>
        }
    }
</div>

@if (!Value.Any())
{
    <div class=" d-flex justify-center" style="padding-top:20vh;">
        <div class="text-h6 text--secondary font-weight-bold-table">
            暂无日记
        </div>
    </div>
}

<SelectTags @bind-Value="showSelectTag"
            @bind-Values="SelectedTags"
            OnSave="HandOnSaveSelectTags">
</SelectTags>
