@inherits LayoutComponentBase

<MApp>
    <MMain>
        @if (MasaBlazor!.Breakpoint.SmAndUp)
        {
            <MNavigationDrawer App
                           Permanent>
                <MList Rounded>
                    <MListItemGroup @bind-Value="SelectedItem">
                        @foreach (var navigationButton in NavigationButtons)
                        {
                            <MListItem OnClick="()=>ChangeView(navigationButton)">
                                <MListItemIcon>
                                    <MIcon>@GetIcon(navigationButton)</MIcon>
                                </MListItemIcon>
                                <MListItemTitle>@navigationButton.Title</MListItemTitle>
                            </MListItem>
                        }
                    </MListItemGroup>
                </MList>
            </MNavigationDrawer>
        }
        @Body
    </MMain>
    @if (ShowBottomNavigation() && !MasaBlazor!.Breakpoint.SmAndUp)
    {
        <MBottomNavigation @bind-Value="SelectedItem"
                       Class="d-flex justify-space-around d-sm-none"
                       App
                       Shift>
            @foreach (var navigationButton in NavigationButtons)
            {
                <MButton OnClick="()=>ChangeView(navigationButton)">
                    <span>@navigationButton.Title</span>
                    <MIcon>@GetIcon(navigationButton)</MIcon>
                </MButton>
            }
        </MBottomNavigation>
    }
</MApp>
