<div class="swiper-slide">
    <MContainer Style="box-sizing: border-box;">
        @ChildContent
    </MContainer>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
