<div class="d-flex justify-space-between flex-wrap">
    @foreach (var item in Value!)
    {
        <TagCard Value="item"
             OnDelete="()=>HandOnTagDelete(item)"
             OnRename="()=>HandOnTagRename(item)"
             OnClick="()=>HandOnTagClick(item.Id)">
        </TagCard>
    }
</div>

@if (!Value.Any())
{
    <div class="d-flex justify-center" style="padding-top:20vh;">
        <div class="text-h6 text--secondary font-weight-bold-table">
            @(I18n!.T("Tag.NoTag"))
        </div>
    </div>
}

<InputTag @bind-Value="ShowRenameTag"
          @bind-Text="RenameTagName"
          Title="@(I18n!.T("Tag.Rename"))"
          OnSave="HandOnSaveRenameTag">

</InputTag>

<DeleteDialog @bind-Value="ShowDeleteTag"
              Title="@(I18n!.T("Tag.Delete.Title"))"
              Content="@(I18n!.T("Tag.Delete.Content"))"
              OnOK="()=>HandOnOKDeleteTag?.Invoke()">

</DeleteDialog>
