/*修复应用栏中最前最后的位置，使用包裹的组件边距不正确*/
.m-application--is-ltr .m-toolbar__content > .m-btn.m-btn--icon:first-of-type:nth-child(2), .m-application--is-ltr .m-toolbar__extension > .m-btn.m-btn--icon:first-of-type:nth-child(2) {
    margin-left: -12px;
}

.m-application--is-rtl .m-toolbar__content > .m-btn.m-btn--icon:first-of-type:nth-child(2), .m-application--is-rtl .m-toolbar__extension > .m-btn.m-btn--icon:first-of-type:nth-child(2) {
    margin-right: -12px;
}

.m-application--is-ltr .m-toolbar__content > .m-btn.m-btn--icon:last-of-type:nth-last-child(2), .m-application--is-ltr .m-toolbar__extension > .m-btn.m-btn--icon:last-of-type:nth-last-child(2) {
    margin-right: -12px;
}

.m-application--is-rtl .m-toolbar__content > .m-btn.m-btn--icon:last-of-type:nth-last-child(2), .m-application--is-rtl .m-toolbar__extension > .m-btn.m-btn--icon:last-of-type:nth-last-child(2) {
    margin-left: -12px;
}

.m-application--is-ltr .m-toolbar__content > .m-btn.m-btn--icon:first-child:last-of-type:nth-last-child(2), .m-application--is-ltr .m-toolbar__extension > .m-btn.m-btn--icon:first-of-type:last-of-type:nth-last-child(2) {
    margin-left: -12px;
    margin-right: 0px;
}

.m-application--is-rtl .m-toolbar__content > .m-btn.m-btn--icon:first-child:last-of-type:nth-last-child(2), .m-application--is-rtl .m-toolbar__extension > .m-btn.m-btn--icon:first-child:last-of-type:nth-last-child(2) {
    margin-left: 0px;
    margin-right: -12px;
}

.m-application--is-ltr .m-toolbar__content > .m-btn.m-btn--icon:last-child:first-of-type:nth-child(2), .m-application--is-ltr .m-toolbar__extension > .m-btn.m-btn--icon:last-child:first-of-type:nth-child(2) {
    margin-left: 0px;
    margin-right: -12px;
}

.m-application--is-rtl .m-toolbar__content > .m-btn.m-btn--icon:last-child:first-of-type:nth-child(2), .m-application--is-rtl .m-toolbar__extension > .m-btn.m-btn--icon:last-child:first-of-type:nth-child(2) {
    margin-left: -12px;
    margin-right: 0px;
}

.m-application--is-ltr .m-toolbar__content > .m-btn.m-btn--icon:first-of-type:nth-child(2):last-of-type:nth-last-child(2), .m-application--is-ltr .m-toolbar__extension > .m-btn.m-btn--icon:first-of-type:nth-child(2):last-of-type:nth-last-child(2) {
    margin-left: -12px;
    margin-right: 0px;
}

.m-application--is-rtl .m-toolbar__content > .m-btn.m-btn--icon:first-of-type:nth-child(2):last-of-type:nth-last-child(2), .m-application--is-rtl .m-toolbar__extension > .m-btn.m-btn--icon:first-of-type:nth-child(2):last-of-type:nth-last-child(2) {
    margin-left: 0px;
    margin-right: -12px;
}

/*更改点击涟漪效果*/
.m-ripple__animation--in {
    transition-duration: .1s !important;
}

.m-ripple__animation--out {
    transition-duration: .15s !important;
}

/*优化消息提示*/
.m-alert__title {
    font-size: 1rem !important;
    font-weight: 700 !important;
}

/*解决移动端悬停问题*/
@media (hover: none) {
    .m-btn:hover::before {
        display: none;
    }

    .m-input--selection-controls__input:hover .m-input--selection-controls__ripple:before {
        display: none;
    }

    .m-icon:hover::before {
        display: inline-block !important;
    }
}

/*配色*/
.theme--light.m-application {
    background: #f7f8f9 !important;
}

.theme--light.m-divider {
    border-color: rgba(0,0,0,.06);
}

.theme--light .m-tab--active {
    color: #000 !important;
}

.theme--dark .m-tab--active {
    color: #fff !important;
}

.theme--dark .my-picker .m-picker__body {
    background: #1e1e1e !important;
}

    .theme--dark .my-picker .m-picker__body + .m-picker__actions {
        background: #1e1e1e !important;
    }

.m-navigation-drawer {
    background: inherit !important;
}

.theme--light.m-bottom-navigation {
    background: #fff !important;
}

.m-toolbar.m-sheet {
    background: inherit !important;
}

.m-text-field .m-input__slot {
    background-color: inherit !important;
}

.theme--light.m-input--switch__track.black--text {
    opacity: .8;
}

.p-mobile-date-picker__content {
    border-radius: 8px 8px 0 0 !important;
}

    .p-mobile-date-picker__content .m-sheet:first-child {
        border-radius: 8px 8px 0 0 !important;
        padding: 16px;
    }

/*自适应圆角*/
@media screen and (min-width:600px) {
    .m-application .rounded-b-sm-lg {
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }
}

/*日历高度*/
.m-date-picker-table {
    height: 249px;
}

/*日历提示圆点位置*/
.m-date-picker-table--date .m-date-picker-table__events {
    bottom: 4px;
}

/*自适应海拔*/
@media screen and (min-width:600px) {
    .m-application .elevation-sm-2 {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important
    }
}

/*临时解决MTabs闪烁问题*/
.m-tabs-bar > .m-slide-group__wrapper {
    flex: unset !important;
}

.m-dialog .m-date-picker-table {
    height: auto !important;
    padding-bottom: 12px;
}

.m-window-item.m-window-item--active {
    display: flex !important;
    flex-direction: column !important;
}

    .m-window-item.m-window-item--active > * {
        flex-grow: 0 !important;
    }
