/*隐藏输入处的提示*/
/*.vditor-panel {
    display: none !important;
}*/

:root {
    --vditor-toolbar-height: 70px;
}

/*软键盘遮挡问题*/
@media screen and (max-width:600px) {
    .vditor-toolbar-help {
        margin-bottom: var(--vditor-toolbar-height);
    }
}

/*改变配色*/
.theme--light .vditor-toolbar {
    background: #f7f8f9 !important;
}

.theme--dark .vditor-toolbar {
    background: #121212 !important;
}

.vditor-reset {
    border-radius: 8px;
}

.theme--light .vditor-reset {
    background-color: #f7f8f9 !important;
}

.theme--dark .vditor-reset {
    background-color: #121212 !important;
    color: #fff;
}

.vditor-reset iframe {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 8px;
}

.vditor-toolbar {
    background-color: transparent;
    padding-left: 0px !important;
}

    .vditor-toolbar .vditor-toolbar__item {
        padding: 0px 8px !important;
    }

.vditor-reset {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    .vditor-reset video {
        border-radius: 8px;
        max-height: unset;
    }

    .vditor-reset img {
        border-radius: 8px;
    }

@media screen and (min-width:600px) {
    .vditor-reset video {
        max-height: 55vh;
    }

    .vditor-reset img {
        max-height: 55vh;
    }
}

.vditor-panel--arrow::before {
    filter: drop-shadow(0.1px -0.1px 1px rgba(0, 0, 0, .1));
}

@media screen and (max-width:600px) {
    .vditor {
        border: none;
    }

    .vditor-toolbar {
        max-height: var(--vditor-toolbar-height);
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding-left: 12px !important;
        border: none;
        z-index: 10;
        /*box-shadow: 0 -3px 5px -3px rgba(0,0,0,.2);*/
    }

        .vditor-toolbar .vditor-toolbar__item {
            padding: 0px 8px !important;
        }

    .vditor-panel--arrow {
        bottom: 35px;
    }

        .vditor-panel--arrow::before {
            top: unset;
            bottom: -14px;
            transform: rotateX(180deg);
            filter: drop-shadow(0.1px 0.1px 1px rgba(0, 0, 0, .2));
        }

    .vditor-reset {
        --editor-bottom: 50px;
    }
}
