@inherits Rcl.Hybird.Layout.MainLayoutBase

<MApp>
    <CascadingValue Value="@I18n.Culture.Name" Name="Culture">
        <ErrorBoundary>
            <ChildContent>
                <MainLayoutNavDrawer Items="navigationButtons" IsPermanentPath="IsPermanentPath"></MainLayoutNavDrawer>

                <MMain>
                    <PageCacheContainer PermanentPaths="permanentPaths">
                        @if (afterInitConfig)
                        {
                            @Body
                        }
                        else
                        {
                            <div class="d-flex justify-center align-center" style="width:100%;height:100%;">
                                <MProgressCircular Size="40"
                                                   Indeterminate="true">
                                </MProgressCircular>
                            </div>
                        }
                    </PageCacheContainer>
                </MMain>

                <MainLayoutBottomNav Items="navigationButtons" IsPermanentPath="IsPermanentPath"></MainLayoutBottomNav>

                @if (afterInitConfig)
                {
                    <UpdateDialog @bind-Visible="showUpdate" Value="lastRelease"></UpdateDialog>
                }
            </ChildContent>

            <ErrorContent>
                <ErrorDialog Exception="@context"></ErrorDialog>
            </ErrorContent>
        </ErrorBoundary>
    </CascadingValue>
</MApp>
