<MSnackbar Value="showSnackbar"
           Class="m-snackbar--permission"
           MultiLine="true"
           Top="true"
           Text="true"
           Elevation="2"
           Rounded="@("lg")"
           Timeout="-1">
    <div class="text-subtitle-1 font-weight-bold">
        @title
    </div>
    <div class="text-subtitle-2">
        @subTitle
    </div>
</MSnackbar>