@namespace SwashbucklerDiary.Components

<div @ref="element" class="@Class" style="@Style">
</div>

<PreviewImageDialog @bind-Value="ShowPreviewImage"
                    Src="@PreviewImageSrc">
</PreviewImageDialog>
