@namespace SwashbucklerDiary.Components

<div @ref="element" class="@($"user-select {Class}")" style="@Style">
</div>

<PreviewImageDialog @bind-Value="ShowPreviewImage"
                    Src="@PreviewImageSrc">
</PreviewImageDialog>
